<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- namespace必须指向Dao接口 -->
<mapper namespace="com.vvboot.busi.end.dao.common.ApprovalMybatisDao">
    <insert id="addApproval" parameterType="net.leebao.open.busi.entity.common.Approval">
        insert ignore into t_b_approval(
        who,object_id,target_object,create_time,update_time
        )
        values(
        #{who},#{objectId},#{targetObject},#{createTime},#{updateTime}
        )
    </insert>
</mapper>