<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- namespace必须指向Dao接口 -->
<mapper namespace="com.vvboot.end.dao.AuthRoleMybatisDao">
    <insert id="insertAuthRoleInBatch" parameterType="hashMap">
        insert ignore into t_si_auth_role(
        auth_id,role_id
        )
        values
        <foreach collection="authIds" item="authId" separator=",">
            (#{authId},#{roleId})
        </foreach>
    </insert>
    <select id="findByAuthRole" resultType="com.vvboot.end.entity.AuthRole"
            parameterType="com.vvboot.end.entity.AuthRole">
        select
            ar.auth_id,a.name authName,
            ar.role_id,r.name roleName
        from t_si_auth_role ar
        left join t_si_auth a on a.auth_id=ar.auth_id
        left join t_si_role r on r.role_id=ar.role_id
        where ar.auth_id=#{authId} and ar.role_id=#{roleId}
        group by
            ar.auth_id,a.name,
            ar.role_id,r.name
    </select>
    <update id="updateAuthRole" parameterType="hashMap">
        update t_si_auth_role
        <set>
            auth_id=#{newAuthId}
        </set>
        where auth_id=#{authId} and role_id=#{roleId}
    </update>
    <delete id="deleteAuthRole" parameterType="com.vvboot.end.entity.AuthRole">
        delete from t_si_auth_role where auth_id=#{authId} and role_id=#{roleId}
    </delete>
    <delete id="deleteAuthRoleByRoleId" parameterType="long">
        delete from t_si_auth_role where role_id=#{0}
    </delete>
    <delete id="deleteAuthRoleByAuthId" parameterType="long">
        delete from t_si_auth_role where auth_id=#{0}
    </delete>
    <select id="findAll" resultType="com.vvboot.end.entity.AuthRole">
        select
            ar.auth_id,a.name authName,
            ar.role_id,r.name roleName
        from t_si_auth_role ar
        left join t_si_auth a on a.auth_id=ar.auth_id
        left join t_si_role r on r.role_id=ar.role_id
        group by
            ar.auth_id,a.name,
            ar.role_id,r.name
        order by
            a.auth_id asc
    </select>
    <select id="findAllAuthroleByRoleId" resultType="com.vvboot.end.entity.AuthRole" parameterType="long">
        SELECT
        a.auth_id,
        a.name authName,
        t.role_id
        FROM
        t_si_auth a
        LEFT JOIN (
        SELECT
        auth.auth_id,
        ar.role_id
        FROM
        t_si_auth auth
        JOIN t_si_auth_role ar ON ar.auth_id = auth.auth_id
        WHERE
        ar.role_id = #{0}
        ) t ON t.auth_id = a.auth_id
    </select>
</mapper>