<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- namespace必须指向Dao接口 -->
<mapper namespace="com.vvboot.end.dao.AuthMybatisDao">
    <insert id="insertAuth" parameterType="com.vvboot.end.entity.Auth" useGeneratedKeys="true"
            keyProperty="authId">
        insert ignore into t_si_auth(
        auth_id,name,locked,create_time,update_time
        )
        values(
        #{authId},#{name},#{locked},#{createTime},#{updateTime}
        )
    </insert>
    <select id="findByAuthId" resultType="com.vvboot.end.entity.Auth" parameterType="long">
        select * from t_si_auth where auth_id=#{0}
    </select>
    <select id="findCountByAuthIds" resultType="int" parameterType="list">
        select count(1) from t_si_auth where auth_id in
        <foreach collection="list" item="item" open="(" close=")" separator=",">
            #{item}
        </foreach>
    </select>
    <update id="updateAuth" parameterType="com.vvboot.end.entity.Auth" useGeneratedKeys="true"
            keyProperty="authId">
        update t_si_auth
        <set>
            name=#{name},
            locked=#{locked},
            update_time=#{updateTime}
        </set>
        where auth_id=#{authId} and locked=0
    </update>
    <select id="findAll" resultType="com.vvboot.end.entity.Auth">
        select * from t_si_auth order by auth_id asc
    </select>
    <delete id="deleteAuth" parameterType="long">
        delete from t_si_auth where auth_id=#{0} and locked=0
    </delete>
    <update id="lock" parameterType="long">
        update t_si_auth
        <set>
            locked=1
        </set>
        where auth_id=#{0} and locked=0
    </update>

    <update id="unlock" parameterType="long">
        update t_si_auth
        <set>
            locked=0
        </set>
        where auth_id=#{0} and locked=1
    </update>
</mapper>