<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- namespace必须指向Dao接口 -->
<mapper namespace="com.vvboot.end.busi.dao.ForbidMybatisDao">
    <insert id="addForbid" parameterType="com.vvboot.end.busi.entity.Forbid" useGeneratedKeys="true" keyProperty="id">
        insert into t_b_forbid(
        name,type,star,feature,harm,harm_detail,defense,create_time,create_user,update_time,update_user
        )
        values(
        #{name},#{type},#{star},#{feature},#{harm},#{harmDetail},#{defense},#{createTime},#{createUser},#{updateTime},#{updateUser}
        )
    </insert>
    <update id="update" parameterType="com.vvboot.end.busi.entity.Forbid">
        update t_b_forbid
        <set>
            name=#{name},
            type=#{type},
            star=#{star},
            feature=#{feature},
            harm=#{harm},
            harm_detail=#{harmDetail},
            defense=#{defense},
            update_time=#{updateTime},
            update_user=#{updateUser}
        </set>
        where id=#{id}
    </update>
    <select id="detail" resultType="com.vvboot.end.busi.entity.Forbid" parameterType="long">
        select
            f.*,
            bt.text typeName,
            s.text starName
        from t_b_forbid f
        left join t_bi_forbid_type bt on bt.value=f.type
        left join t_bi_star s on s.value=f.star
        where f.id=#{0}
    </select>

    <select id="pageList" resultType="com.vvboot.end.busi.entity.Forbid"
            parameterType="com.vvboot.end.busi.params.PageParam">
        select
        f.*,
        bt.text typeName,
        s.text starName
        from t_b_forbid f
        left join t_bi_forbid_type bt on bt.value=f.type
        left join t_bi_star s on s.value=f.star
        <where>
            <if test="filters.containsKey('type') and filters.type.size!=0">
                f.type in
                <foreach collection="filters.type" item="type" open="(" separator="," close=")">
                    #{type}
                </foreach>
            </if>
            <if test="filters.containsKey('star') and filters.star.size!=0">
                and f.star in
                <foreach collection="filters.star" item="star" open="(" separator="," close=")">
                    #{star}
                </foreach>
            </if>
        </where>
        <choose>
            <when test="sorts.size!=0">
                <foreach collection="sorts" item="sort" open="order by " separator="," close="" index="i">
                      ${sort.prop} ${sort.order}
                </foreach>
            </when>
            <otherwise>
                order by f.type asc,f.star desc
            </otherwise>
        </choose>
    </select>

    <delete id="delete" parameterType="long">
        delete from t_b_forbid where id=#{0}
    </delete>
</mapper>