<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- namespace必须指向Dao接口 -->
<mapper namespace="me.cnlm.busi.dao.ImageMybatisDao">
    <insert id="addImage" parameterType="me.cnlm.busi.entity.Image">
        INSERT  INTO
        t_b_image(
        image_id,image_name,image_type,image_url,image_base64,
        reserve1,reserve2,reserve3,reserve4,reserve5
        )
        VALUES(
        #{imageId},#{imageName},#{imageType},#{imageUrl},#{imageBase64},
        #{reserve1},#{reserve2},#{reserve3},#{reserve4},#{reserve5}
        )
    </insert>
</mapper>