<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- namespace必须指向Dao接口 -->
<mapper namespace="net.leebao.busi.dao.PhoneCodeMybatisDao">
    <insert id="insertPhoneCode" parameterType="net.leebao.busi.entity.PhoneCode">
        insert into t_b_phone_code(
        id,phone,prev_code,pres_code,times,
        prev_time,pres_time,verify_times,prev_verify_result,pres_verify_result,
        reserve1,reserve2,reserve3,reserve4,reserve5
        )
        values(
        #{id},#{phone},#{prevCode},#{presCode},#{times},
        #{prevTime},#{presTime},#{verifyTimes},#{prevVerifyResult},#{presVerifyResult},
        #{reserve1},#{reserve2},#{reserve3},#{reserve4},#{reserve5}
        )
    </insert>
    <update id="updatePhoneCode" parameterType="net.leebao.busi.entity.PhoneCode">
        update t_b_phone_code
        <set>
            prev_code=#{prevCode},
            pres_code=#{presCode},
            prev_time=#{prevTime},
            pres_time=#{presTime},
            verify_times=#{verifyTimes},
            prev_verify_result=#{prevVerifyResult},
            pres_verify_result=#{presVerifyResult}
        </set>
        where id=#{id}
    </update>
    <select id="findByPhone" resultType="net.leebao.busi.entity.PhoneCode" parameterType="string">
        select * from t_b_phone_code
        where phone=#{0}
    </select>
</mapper>