<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- namespace必须指向Dao接口 -->
<mapper namespace="com.vvboot.end.dao.RouteMybatisDao">
    <insert id="insertRoute" parameterType="com.vvboot.end.entity.Route" useGeneratedKeys="true" keyProperty="routeId">
        insert ignore into t_si_route(
        menu_id,rank,super_id,name,uisref,description,locked,create_time,update_time
        )
        values(
        #{menuId},#{rank},#{superId},#{name},#{uisref},#{description},#{locked},#{createTime},#{updateTime}
        )
    </insert>
    <select id="findByRouteId" resultType="com.vvboot.end.entity.Route" parameterType="long">
        select * from t_si_route where route_id=#{0} order by route_id asc
    </select>
    <update id="updateRoute" parameterType="com.vvboot.end.entity.Route" useGeneratedKeys="true" keyProperty="routeId">
        update t_si_route
        <set>
            menu_id=#{menuId},
            rank=#{rank},
            super_id=#{superId},
            name=#{name},
            uisref=#{uisref},
            description=#{description},
            update_time=#{updateTime}
        </set>
        where route_id=#{routeId} and locked=0
    </update>
    <select id="findBySuperId" resultType="com.vvboot.end.entity.Route" parameterType="hashMap">
        select * from t_si_route r
        where 1=1
        <choose>
            <when test="superId==null">
                and r.super_id is null
            </when>
            <otherwise>
                and r.super_id=#{superId}
            </otherwise>
        </choose>
        order by super_id asc
    </select>
    <delete id="deleteRoute" parameterType="long">
        delete from t_si_route where route_id=#{0} and locked=0
    </delete>
    <select id="findSuperRankByRouteId" resultType="int" parameterType="long">
        select r.rank from t_si_route r where r.route_id=#{0}
    </select>
    <select id="findAll" resultType="com.vvboot.end.entity.Route">
        select * from t_si_route order by route_id asc
    </select>
    <update id="lock" parameterType="long">
        update t_si_route
        <set>
            locked=1
        </set>
        where route_id=#{0} and locked=0
    </update>

    <update id="unlock" parameterType="long">
        update t_si_route
        <set>
            locked=0
        </set>
        where route_id=#{0} and locked=1
    </update>
</mapper>