<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- namespace必须指向Dao接口 -->
<mapper namespace="net.leebao.open.busi.dao.SchoolOrganizationDao">
    <insert id="addOrganization" parameterType="net.leebao.open.busi.entity.SchoolOrganization" useGeneratedKeys="true" keyProperty="id">
        insert into t_b_school_organization(
        name,boss,address,create_time,update_time,remark
        )
        values(
        #{name},#{boss},#{address},#{createTime},#{updateTime},#{remark}
        )
    </insert>

    <select id="dropdown" resultType="net.leebao.open.busi.entity.SchoolOrganization">
        select so.id,so.name,so.boss
        from t_b_school_organization so order by so.create_time desc
    </select>

    <select id="pageList" resultType="net.leebao.open.busi.entity.SchoolOrganization"
            parameterType="net.leebao.open.busi.params.PageParam">
        select
        so.*
        from t_b_school_organization so
        <where>
            <if test="filters.containsKey('name') and filters.name.size!=0">
                so.name in
                <foreach collection="filters.name" item="name" open="(" separator="," close=")">
                    #{name}
                </foreach>
            </if>
        </where>
        <choose>
            <when test="sorts.size!=0">
                <foreach collection="sorts" item="sort" open="order by " separator="," close="" index="i">
                      ${sort.prop} ${sort.order}
                </foreach>
                ,so.create_time desc
            </when>
            <otherwise>
                order by so.create_time desc
            </otherwise>
        </choose>
    </select>
</mapper>