<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- namespace必须指向Dao接口 -->
<mapper namespace="com.vvboot.end.dao.UserRoleMybatisDao">
    <insert id="insertUserRoleInBatch" parameterType="hashMap">
        insert ignore into t_si_user_role(
        user_id,role_id
        )
        values
        <foreach collection="roleIds" item="roleId" separator=",">
            (#{userId},#{roleId})
        </foreach>
    </insert>
    <select id="findByUserRole" resultType="com.vvboot.end.entity.UserRole"
            parameterType="com.vvboot.end.entity.UserRole">
        select
            ur.user_id,u.name userName,
            ur.role_id,r.name roleName
        from t_si_user_role ur
        left join t_si_user u on u.id=ur.user_id
        left join t_si_role r on r.role_id=ur.role_id
        where ur.user_id=#{userId} and ur.role_id=#{roleId}
        group by
            ur.user_id,u.name,
            ur.role_id,r.name
    </select>
    <update id="updateUserRole" parameterType="hashMap">
        update t_si_user_role
        <set>
            role_id=#{newRoleId}
        </set>
        where user_id=#{userId} and role_id=#{roleId}
    </update>
    <delete id="deleteUserRole" parameterType="com.vvboot.end.entity.UserRole">
        delete from t_si_user_role where user_id=#{userId} and role_id=#{roleId}
    </delete>
    <delete id="deleteUserRoleByRoleId" parameterType="com.vvboot.end.entity.UserRole">
        delete from t_si_user_role where role_id=#{roleId}
    </delete>
    <delete id="deleteUserRoleByUserId" parameterType="long">
        delete from t_si_user_role where user_id=#{0}
    </delete>
    <select id="findAll" resultType="com.vvboot.end.entity.UserRole">
        select
            ur.user_id,u.name userName,
            ur.role_id,r.name roleName
        from t_si_user_role ur
        left join t_si_user u on u.id=ur.user_id
        left join t_si_role r on r.role_id=ur.role_id
        group by
            ur.user_id,u.name,
            ur.role_id,r.name
        order by
            r.role_id
    </select>
    <select id="findAllUserroleByUserId" resultType="com.vvboot.end.entity.UserRole" parameterType="long">
        SELECT
        r.role_id,
        r.name roleName,
        t.user_id
        FROM
        t_si_role r
        LEFT JOIN (
        SELECT
        user.id user_id,
        ur.role_id
        FROM
        t_si_user user
        JOIN t_si_user_role ur ON ur.user_id = user.id
        WHERE
        ur.user_id = #{0}
        ) t ON t.role_id = r.role_id
    </select>
</mapper>